---
name: details
url: /details
animationIn: fadeIn
animationOut: fadeOut
---

<div class="vertical large-4 grid-content" class="red">
	<div class="card">
		<div id="date-card-info" class="card-section">
			<div class="clearfix">
				<p class="float-left" style="margin-bottom: 0; font-size: 24px;">Maandag 9 Februari</p>
				<a href=""><i class="float-right fi-calendar size-40"></i></a>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-section">
	    	<h3>Levering wasmachine</h3>
		    <p>Putte - Dorpstraat 40</p>
		    <p>De Clerck, Wout</p>
		    <p>Toestel: Miele XK56F5081</p>
		    <hr/>
		    <ul class="display-time">
				<li><i class="fi-clock size-26"></i></li>
				<li class="li-text">9.30u</li>
			</ul>
	    </div>
	</div>

	  <div class="card">
	    <div class="card-section">
	      <h3>Levering wasmachine</h3>
	      <p>Putte - Dorpstraat 40</p>
	      <p>De Clerck, Wout</p>
	      <p>Toestel: Miele XK56F5081</p>
	      <hr/>
	      <ul class="display-time">
		      <li><i class="fi-clock size-26"></i></li>
			  <li class="li-text">9.30u</li>
		  </ul>
	    </div>
	  </div>

	  <div class="card">
	    <div class="card-section">
	      <h3>Levering wasmachine</h3>
	      <p>Putte - Dorpstraat 40</p>
	      <p>De Clerck, Wout</p>
	      <p>Toestel: Miele XK56F5081</p>
	      <hr/>
	      <ul class="display-time">
		      <li><i class="fi-clock size-26"></i></li>
			  <li class="li-text">9.30u</li>
		  </ul>
	    </div>
	  </div>

	  <div class="card">
	    <div class="card-section">
	      <h3>Levering wasmachine</h3>
	      <p>Putte - Dorpstraat 40</p>
	      <p>De Clerck, Wout</p>
	      <p>Toestel: Miele XK56F5081</p>
	      <hr/>
	      <ul class="display-time">
		      <li><i class="fi-clock size-26"></i></li>
			  <li class="li-text">9.30u</li>
		  </ul>
	    </div>
	  </div>
</div>

<!--<div class="vertical grid-block large-up-2">

	<div class="vertical grid-block">
		<div class="vertical grid-content text-center">
			<i class="fi-results-demographics size-40"></i>
			<p>Jan van Den Bulk</p>
		</div>

		<div class="grid-block" style="background-color: yellow;">

			<div class="large-6 grid-content">
				<div class="dark card text-center">
					<div class="card-section">
						<h3>Levering wasmachine</h3>
			      		<p>Putte - Dorpstraat 40</p>
					</div>
				</div>
			</div>

			<div class="large-6 grid-content">
				<div class="dark card text-center">
					<div class="card-section">
						<h3>Levering wasmachine</h3>
			      		<p>Putte - Dorpstraat 40</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="vertical grid-block">
		<div class="vertical grid-content text-center">
			<i class="fi-results-demographics size-40"></i>
			<p>Jan van Den Bulk</p>
		</div>

		<div class="grid-block" style="background-color: yellow;">

			<div class="large-6 grid-content">
				<div class="dark card text-center">
					<div class="card-section">
						<h3>Levering wasmachine</h3>
			      		<p>Putte - Dorpstraat 40</p>
					</div>
				</div>
			</div>

			<div class="large-6 grid-content">
				<div class="dark card text-center">
					<div class="card-section">
						<h3>Levering wasmachine</h3>
			      		<p>Putte - Dorpstraat 40</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>-->

<div class="large-8 grid-content">
	<div class="grid-block small-up-2" style="background-color: blue;">
		<div class="grid-container" style="max-width: 960px;">

			<div class="grid-content" style="background-color: white; margin-bottom: 20px;">
				<div class="vertical grid-block text-center" style="margin-bottom: 10px;">
					<i class="fi-results-demographics size-40"></i>
					<p>Jan van Den Bulk</p>
				</div>

				

				<div class="grid-block">
					<div class="grid-content">
						<div class="dark card">
							<div class="card-section">
								<h3 style="font-size: 16px;">Levering wasmachine</h3>
								<p style="font-size: 14px;">Putte - Dorpstraat 40</p>
							</div>
						</div>
					</div>

					<div class="grid-content">
						<div class="dark card">
							<div class="card-section">
								<h3 style="font-size: 16px;">Levering wasmachine</h3>
								<p style="font-size: 14px;">Putte - Dorpstraat 40</p>
							</div>
						</div>
					</div>


				</div>
			</div>

			<div class="grid-content" style="background-color: white; margin-bottom: 20px;">
				<div class="vertical grid-block text-center" style="margin-bottom: 10px;">
					<i class="fi-results-demographics size-40"></i>
					<p>Jan van Den Bulk</p>
				</div>

				<div class="grid-block">
					<div class="grid-content">
						<div class="dark card">
							<div class="card-section">
								<h3 style="font-size: 16px;">Levering wasmachine</h3>
								<p style="font-size: 14px;">Putte - Dorpstraat 40</p>
							</div>
						</div>
					</div>

					<div class="grid-content">
						<div class="dark card">
							<div class="card-section">
								<h3 style="font-size: 16px;">Levering wasmachine</h3>
								<p style="font-size: 14px;">Putte - Dorpstraat 40</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

