---
name: home
url: /
---

<div class="large-12 grid-block" ng-if="application.scaleFullScreen">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12697.758051669445!2d-121.95161!3d37.284716!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe18714a9ccfec34d!2sZURB!5e0!3m2!1sen!2sus!4v1417659982534" width="100%" frameborder="0" style="border:0" class="DRAGDIS_iframe"></iframe>
</div>

<div id="sidebar">
	<div class="card">
		<div id="date-card-info" class="card-section">
			<div class="clearfix">
				<p class="float-left" style="margin-bottom: 0; font-size: 24px;">Maandag 9 Februari</p>
				<a href=""><i class="float-right fi-calendar size-40"></i></a>
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-section">
	    	<h3>Levering wasmachine</h3>
		    <p>Putte - Dorpstraat 40</p>
		    <p>De Clerck, Wout</p>
		    <p>Toestel: Miele XK56F5081</p>
		    <hr/>
		    <ul class="display-time">
				<li><i class="fi-clock size-26"></i></li>
				<li class="li-text">9.30u</li>
			</ul>
	    </div>
	</div>

	  <div class="card">
	    <div class="card-section">
	      <h3>Levering wasmachine</h3>
	      <p>Putte - Dorpstraat 40</p>
	      <p>De Clerck, Wout</p>
	      <p>Toestel: Miele XK56F5081</p>
	      <hr/>
	      <ul class="display-time">
		      <li><i class="fi-clock size-26"></i></li>
			  <li class="li-text">9.30u</li>
		  </ul>
	    </div>
	  </div>

	  <div class="card">
	    <div class="card-section">
	      <h3>Levering wasmachine</h3>
	      <p>Putte - Dorpstraat 40</p>
	      <p>De Clerck, Wout</p>
	      <p>Toestel: Miele XK56F5081</p>
	      <hr/>
	      <ul class="display-time">
		      <li><i class="fi-clock size-26"></i></li>
			  <li class="li-text">9.30u</li>
		  </ul>
	    </div>
	  </div>

	  <div class="card">
	    <div class="card-section">
	      <h3>Levering wasmachine</h3>
	      <p>Putte - Dorpstraat 40</p>
	      <p>De Clerck, Wout</p>
	      <p>Toestel: Miele XK56F5081</p>
	      <hr/>
	      <ul class="display-time">
		      <li><i class="fi-clock size-26"></i></li>
			  <li class="li-text">9.30u</li>
		  </ul>
	    </div>
	  </div>
</div>

<div id="main" class="vertical grid-block">

		<div id="map" class="grid-block">
		    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12697.758051669445!2d-121.95161!3d37.284716!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe18714a9ccfec34d!2sZURB!5e0!3m2!1sen!2sus!4v1417659982534" width="100%" frameborder="0" style="border:0" class="DRAGDIS_iframe"></iframe>
		</div>

		<div id="delivery-info" class="grid-block">
			<div class="card card-extra-info">
				<div class="card-section">
					<h4>Plaatsing inbouw koelkast (d/d) - Heist-op-den-berg, Mechelbaan 55</h4>
					<div class="horizontal grid-block large-up-3">
						<div id="practical-info" class="vertical grid-block no-padding-l-r">
							<p>Toestel: Inbouw koelkast</p>
							<p>Merk: AEG</p>
							<p>Typenummer: FJ88F4215</p>
							<p>Kleur: Wit</p>
							<p>Verkoper: Kristof De Clerck</p>
						</div>

						<div id="extra-info" class="vertical grid-block no-padding-l-r">
							<p>Opmerkingen:</p>
							<p>Tweede verdieping</p>
							<p>Bellen voor levering</p>
							<p>2 personen vereist</p>
						</div>

						<div class="vertical grid-block no-padding-l-r">
							<a class="secondary button" href="#">
								<ul class="display-button">
									<li><i class="fi-list-bullet size-26"></i></li>
									<li class="li-text">Factuur</li>
								</ul>
							</a>

							<a class="secondary button" href="#">
								<ul class="display-button">
									<li><i class="fi-telephone size-26"></i></li>
									<li class="li-text">Bel klant</li>
								</ul>
							</a>
							
							<a class="primary button" href="#" ng-click="application.scaleFullScreen=!application.scaleFullScreen">
								<ul class="display-button">
									<li><i class="fi-check size-26"></i></li>
									<li class="li-text">Done</li>
								</ul>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

